<% content_for :js do %>
  <script>
    const createListing = () => {
      $("form").submit(function(e) {
        e.preventDefault();

        let values = $(this).serialize();
        let newListing = $.post("/listings", values);

        newListing.done(function(response) {
          let listing = response;
          const newListing = new Listing(listing);
          const newListingHtml = newListing.listingHTML();
          document.getElementById("ajax-listings").innerHTML += newListingHtml;
          $("form").trigger("reset");
        });
      });
    };
  </script>
<% end %>

<div class="wrapper" id="index-listings">
  </div class="container">
    <div class="row">
      <div class="col">
      <h4>Listings Index</h4>
        <div id="ajax-listings"></div>
      </div>
      <div class="col">
      <h5>New Listing</h5>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
