<h4>Create New Listing</h4>
<!-- displays validation errors  -->
<div class="errors">
  <% if @listing.errors %>
    <% @listing.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  <% end %>
</div>
<%= render 'form' %>
