<h4>Listing Details</h4>

<div id="listingDate">Date Listed: </div><br>
<div id="listingStreet">Property Location: <br></div>
<div id="listingCityStZip"></div><br>

<div id="listingPropertyType">Property Type: </div>
<div id="numberBedrooms">Numbers of Bedrooms: </div>
<div id="numberBathrooms">Number of Bathrooms: </div>
<div id="listingPrice">List Price: $</div><br>

<%= link_to 'Edit', edit_listing_path %><br>
<%= link_to 'Delete', listing_path(@listing), method: :delete, data: { confirm: 'Are you sure?' } %><br><br>

<button id="js-next">Next...</button>