<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">FiRealty 2.0</h1>
    <p class="lead">A JavaScript and Rails application for realtors to manage property listings, buyers and appointments.</p>
  </div>
</div>
