<h4>Buyers Index</h4>
<% @buyers.each do |b| %>
  <ul>
    <li>Name:
      <%= b.name %><br>
      Email:
      <%= b.email %><br>
      <%= link_to "Details", buyer_path(b) %>
    </li>
  </ul>
<% end %>
