<h4>Create New Buyer</h4>
<!-- displays validation errors -->
<div class="errors">
  <% if @buyer.errors %>
    <% @buyer.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  <% end %>
</div>
<%= render 'form' %>
